<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index page</title>

    <link href="http://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.css" rel="stylesheet" type="text/css">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.css" rel="stylesheet" type="text/css">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'vk_audio_stats/style.css' %}">

    <script src="http://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.js"></script>
</head>

<body>

{% if genre_list %}
    <div class="fieldset_holder">
        <form action="" method="get">
            <fieldset>
                <legend>Доступные жанры:</legend>
                {% for genre in genre_list %}
                    <input type="checkbox" name="genre" id="genre{{ forloop.counter }}" value="{{ genre.id }}">
                    <label for="genre{{ forloop.counter }}">{{ genre }}</label><br>
                {% endfor %}
            </fieldset>

            <input type="submit" value="Показать пользователей"/>
            <input type="reset" value="Сбросить">
        </form>

        {{ div | safe }}
    </div>

    <div class="fieldset_holder">
        {% if user_list %}
            <fieldset>
                <legend>Пользователи, у которых есть треки выбранных жанров:</legend>
                <ul>
                    {% for user, genre_list in user_list.items %}
                        <li>{{ user }}:
                            <ul>
                                {% for genre, count in genre_list.items %}
                                    <li>{{ genre }}: {{ count }}</li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </fieldset>
        {% endif %}
    </div>
{% else %}
    <p>Список жанров недоступен.</p>
{% endif %}

</body>
{{ script | safe }}
</html>
